/** @format */

@import "./settings";
@import "./some";
@import "./modal";

@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

// Option B: Include parts of Bootstrap
// Required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
// Optional
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/forms";
// @import "../../../node_modules/bootstrap/scss/type";
// @import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/button-group";

@import "../../../node_modules/bootstrap/scss/dropdown";
// @import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/transitions";
// @import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/react-grid-layout/css/styles.css";
@import "../../..//node_modules/react-resizable/css/styles.css";

@import "../../../node_modules/react-datepicker/dist/react-datepicker.css";
@import "../../../node_modules/pure-react-carousel/dist/react-carousel.es.css";
@import "../../../node_modules/react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "../../../node_modules/react-table-6/react-table.css";
// @mixin Animation {
// 	@keyframes animate {
// 		0% {
// 			transform: translateY(0);
// 		}
// 		100% {
// 			transform: translateY(-22px);
// 		}
// 	}
// 	animation: animate 0.5s infinite alternate;
// }
body {
  background-color: var(--color-scheme-white);
  color: var(--color-scheme-black);
}
#root {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
  height: inherit;
  .app-header {
    grid-area: header;
  }
  .app-main {
    grid-area: main;
    padding: 0 10.4px;
  }
  .app-sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    height: 100%;
  }
  .app-footer {
    grid-area: footer;
    background: #eee;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
// :matches(main) h2 {
// 	color: #bada55;
// }

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 18%);
  background: #ccc;
  width: 50%;
  margin: auto;
  justify-content: space-around;
  padding: 5px;
  .form-check {
    padding: 0;
    &:after {
      content: "";
      border-right: 2px solid #000;
      margin-left: 3px;
    }
    &:last-child {
      &:after {
        border-right: none;
      }
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"] + .form-check-label {
      box-shadow: inset 0 0 2px #000;
      transition: 0.4s;
      border-radius: 4px;
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
    input[type="radio"]:checked + .form-check-label {
      background-color: #fff;
    }
  }
}
.div {
  &--up {
    position: sticky;
    top: 0;
    text-align: center;
  }
  &--down {
    position: sticky;
    bottom: 0;
    text-align: center;
  }
}
.icon {
  height: 20px;
  width: 20px;
}
.custom-icon {
  // border: 1px solid #000;
  border-left: none;
  height: 25px;
  width: 25px;
  // background: #ccc;
  &.--arrow {
    height: 15px;
    width: 15px;
    border: none;
    background: transparent;
  }

  &--up--svg {
    border: none;
    background: transparent;

    // @include Animation;
  }
  &--down--svg {
    border: none;
    background: transparent;
    // @include Animation;
  }
}
.caret {
  opacity: 0.5;
  &.asc {
    svg {
      &:first-child {
        path {
          fill: red;
        }
      }
    }
    opacity: 1;
  }
  &.desc {
    svg {
      &:last-child {
        path {
          fill: red;
        }
      }
    }
    opacity: 1;
  }
}
.datepicker {
  display: flex;
  justify-content: center;
  align-items: center;
  .react-datepicker__input-container {
    display: flex;
    justify-content: flex-end;
  }
  input[type="text"] {
    border: 1px solid #000;
    border-right: none;
    height: 30px;
    padding: 0.5rem;
    width: calc(100% - 75px);
  }
  .react-datepicker-popper {
    .react-datepicker {
      .react-datepicker__triangle {
        left: 100px;
      }
    }
  }

  .react-datepicker__navigation--previous {
    outline: none;
  }
  .react-datepicker__navigation--next {
    outline: none;
  }
}
.react-grid-item {
  background: var(--color-scheme-background);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.listPage {
  height: 200px;
  overflow-y: scroll;
  position: relative;

  border-radius: 0.3em;
  margin: 5em auto 0;
  overflow-y: scroll;
  border: 1px solid #c5eedc;
  overflow-y: scroll;
  // background-size: 100%;
  // background-image: -webkit-gradient(
  // 		linear,
  // 		50% 0%,
  // 		50% 100%,
  // 		color-stop(0%, #ffffff),
  // 		color-stop(100%, rgba(255, 255, 255, 0))
  // 	),
  // 	-webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0))),
  // 	-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #95e0c0), color-stop(100%, rgba(255, 255, 255, 0))),
  // 	-webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #95e0c0), color-stop(100%, rgba(255, 255, 255, 0)));
  // background-image: -moz-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0)),
  // 	-moz-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0)),
  // 	-moz-linear-gradient(top, #95e0c0, rgba(255, 255, 255, 0)),
  // 	-moz-linear-gradient(bottom, #95e0c0, rgba(255, 255, 255, 0));
  // background-image: -webkit-linear-gradient(
  // 		top,
  // 		#ffffff,
  // 		rgba(255, 255, 255, 0)
  // 	),
  // 	-webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0)),
  // 	-webkit-linear-gradient(top, #95e0c0, rgba(255, 255, 255, 0)),
  // 	-webkit-linear-gradient(bottom, #95e0c0, rgba(255, 255, 255, 0));
  // background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0)),
  // 	linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0)),
  // 	linear-gradient(to bottom, #95e0c0, rgba(255, 255, 255, 0)),
  // 	linear-gradient(to top, #95e0c0, rgba(255, 255, 255, 0));
  // background-position: 0 0, 0 100%, 0 0, 0 100%;
  // background-repeat: no-repeat;
  // background-color: white;
  // background-size: 100% 5em, 100% 5em, 100% 1.5em, 100% 1.5em;
  // background-attachment: local, local, scroll, scroll;

  .heading {
    padding: 0.5rem;
    background: var(--color-scheme-background);
    color: var(--color-scheme-text-color);
    width: 100%;
    &.scrolled {
      position: fixed;
      width: calc(70%);
    }
  }
}
.new {
  display: flex;
  width: 100%;
  .first {
    width: calc(100% + 100%);
    position: relative;
    left: -9999px;
    transition: 0.5s;
    &.active {
      left: 0;
    }
  }
  .second {
    position: relative;
    right: -9999px;
    width: calc(100% + 100%);
    transition: 0.5s;
    &.active {
      right: 0;
    }
  }
}
.main-header {
  display: flex;
  .data-item {
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        // set the background-color to cornflowerblue and
        // each time lighten the color
        width: calc(100% / 4);
      }
    }
  }
}
.react-bootstrap-table {
  // height: 500px;
  // overflow: auto;
}
.table {
  thead {
    background: var(--color-scheme-white);
    th {
      position: sticky;
      top: 0;
      background: var(--color-scheme-black);
      color: var(--color-scheme-white);
      outline: none;
      span {
        position: absolute;
        right: 1rem;
      }
    }
  }
}
.custom-tab {
  justify-content: flex-end;
  .nav-item {
    &:first-child {
      .nav-link {
        &:after {
          content: "";
          border-width: 0 0.125rem 0 0;
          border-style: solid;
          border-color: var(--color-scheme-black);
          margin: 0 0.5rem;
          font-size: 70%;
        }
      }
    }
    .nav-link {
      outline: none;
      color: var(--color-scheme-black);
      padding: 0;
      &:hover {
        color: var(--color-scheme-blue);
        text-decoration: underline;
      }
      &.active {
        color: var(--color-scheme-blue);
        text-decoration: underline;
      }
    }
  }
}
.tab-content {
  .grid-container {
    display: grid;
    grid-template-columns: 140px auto auto auto auto auto;
    grid-template-rows: 30px 30px 30px;
  }
  .grid-item {
    &.--role {
      justify-content: flex-start;
      width: 100%;
    }
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: 30px;
    margin: 0 auto;
    &.active {
      background-color: pink;
    }
    &.schedule {
      background-color: green;
    }
  }
}

/*
** react-table styles start
*/
.main-page {
  .heading {
    padding-left: 40px;
    font-weight: bolder;
    font-size: 16px;
  }
  .ReactTable {
    &.react-table {
      margin-top: 20px;
      border: none;
      .active {
        path {
          fill: red;
        }
      }
      .rt-thead {
        .rt-tr {
          .rt-th {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.rt-resizable-header {
              .rt-resizable-header-content {
                overflow: visible;
              }
              &:hover {
                .rt-resizer {
                  opacity: 1;
                }
              }
              .rt-resizer {
                opacity: 0.2;
                transition: 0.4s;
                position: relative;
                width: 5px;
                height: 100%;
                right: 1px;
                background: blue;
                &:hover {
                  opacity: 1;
                }
              }
            }
            border-right: none;
            text-align: left;
            &:first-child {
              display: none;
            }
            outline: none;
            padding: 20px 10px;
            &:nth-child(2) {
              padding-left: 40px;
              // .rt-resizer {
              // 	display: none;
              // }
            }
          }
        }
      }
      .rt-tbody {
        > .rt-tr-group {
          > .-odd {
            background-color: var(--color-scheme-light-blue);
            color: var(--color-scheme-black);
          }
          > .-even {
            background-color: var(--color-scheme-white);
            color: var(--color-scheme-black);
            padding: 10px;
          }
          .rt-tr-group {
            .rt-td.group {
              display: none;
            }
          }
        }
        .rt-tr {
          .rt-td {
            padding: 15px 10px;
            border-right: none;

            &.group {
              padding: 10px 30px;
            }
          }
        }
      }
      .rt-thead .rt-th.-sort-asc,
      .ReactTable .rt-thead .rt-td.-sort-asc {
        box-shadow: none;
      }
      .rt-thead .rt-th.-sort-desc,
      .ReactTable .rt-thead .rt-td.-sort-desc {
        box-shadow: none;
      }
    }
  }
}
/*
** react-table styles start
*/
.tab-content {
  .header-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25px 20px;
    align-items: center;
    text-transform: capitalize;
    h2 {
      margin: 0;
      align-self: center;
    }
  }
  .header-list {
    display: grid;
    grid-template-columns: 34px 34px 34px 34px 34px 34px 34px 34px;
    grid-template-rows: 20px;
    text-transform: capitalize;
    text-align: center;
    .list {
      text-align: center;
      margin: auto;
      width: 18px;
      height: 18px;
      border-radius: 0.5rem;
      &.med {
        background-color: orange;
      }
      //     &.high {
      //       background-color: var(--color-light-purple);
      //     }
    }
  }
  .filter-bar {
    flex-wrap: nowrap;
    display: flex;
    background-color: grey;
    color: black;
    align-items: center;
    height: 20px;
    border-radius: 0.5rem;
    text-transform: uppercase;
    margin: 0;
    font-size: 80%;
  }
  .filter-bar__item {
    min-width: 35px;
    padding: 0;
    position: relative;
    label {
      height: 18px;
      margin: 0;
      padding: 0 0.4rem;
      cursor: pointer;
    }
    &:after {
      content: "";
      border: 1px solid blue;
      position: absolute;
      right: 0;
      top: 25%;
      height: 10px;
    }
    &:last-child {
      &:after {
        content: "";
        border: none;
        margin: 0;
      }
    }
    &.filter-bar__item--selected {
      background-color: transparent;
      label {
        color: black;
        background-color: grey;
        box-shadow: 0 0 0.3rem black;
        font-weight: bolder;
        border-radius: 0.4rem;
        text-decoration: none;
      }
    }
  }
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
  background: grey;
  color: black;
  list-style: none;
}

.filter-bar__item {
  cursor: pointer;
  padding: 2rem 0;
  text-align: center;
  min-width: 120px;
  max-width: 185px;
  margin: 0 auto;
  flex: 1;
  position: relative;
  &:hover {
    // background: var(--color-grey);
    // color: var(--color-black);
    text-decoration: underline;
    .filter-bar__dropdown {
      display: block;
      box-shadow: 0px 3px 6px 0 black;
    }
  }
  &--parent {
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: 1024px) {
    padding: 1rem 0;
  }
  .filter-bar__label {
    margin: 0;
  }
}

// .filter-bar__item--selected {
//   background: var(--color-blue);
// }
.filter-bar__item--selected,
.filter-bar__dropdown--selected {
  background: blue; // always blue, even in dark mode
  color: white;
}

.filter-bar__dropdown {
  position: absolute;
  z-index: 10;
  // background: var(--color-grey); //var(--color-dark-grey);
  // color: var(--color-white);
  background: white;
  color: grey;
  width: 100%;
  top: 61px;
  display: none;
  @media (max-width: 1024px) {
    top: 41px;
  }
}

.filter-bar svg.custom-icon.up.--arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(315deg);
  width: 12px;
  height: 12px;
  & path {
    fill: white;
  }
}

.carousel-button-group {
  // position: 'absolute';
  .slider-nav {
    svg {
      width: 20px;
      height: 20px;
    }
    background: transparent;
    outline: none;
    border: none;
    &.disable {
      opacity: 0.5;
      svg {
        background: var(--color-scheme-white);
        path {
          &:first-child {
            fill: var(--color-scheme-black);
          }
          fill: var(--color-scheme-black);
        }
      }
    }
    .active {
      opacity: 1;
      svg {
        background: var(--color-scheme-white);
        path {
          &:first-child {
            fill: var(--color-scheme-black);
          }
          fill: var(--color-scheme-black);
        }
      }
    }
  }
}
.widget-header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  .actions {
    text-align: right;
    .btn {
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
.Board {
  width: 30%;
  justify-content: center;
  display: grid;
  align-items: center;
  grid-gap: 2px;
  grid-template-columns: 33% 33% 33%;
  .cell {
    border: 1px solid #000;
    height: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 200%;
    cursor: pointer;
    background: cyan;
    transition: 0.4s;
    &.cross {
      background: red;
      cursor: no-drop;
    }
    &.zero {
      background: yellow;
      cursor: no-drop;
    }
    &:hover {
      box-shadow: 0 0 10px #444;
    }
  }
}
.main-wrapper {
  display: grid;
  grid-template-rows: 50px auto;
  grid-gap: 5px;
  .screen input {
    width: 100%;
    height: 100%;
    border: 1px solid;
    padding: 1rem;
    font-size: 150%;
  }
  .inputs {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
    grid-gap: 4px;
  }
  .field {
    border: 1px solid;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.flex-div {
  display: flex;
  justify-content: space-between;
  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
  }
  .right {
  }
}
