    /* Use */
.heading .custom {
    background: var(--color-scheme-background);
    color: var(--color-scheme-text-color);
    width: 100%;
}
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    height: 10rem;
        button {
            position: absolute;
            background: transparent;
            border: none;
            outline: none;
                &.carousel__back-button{
                    left: 0;
                }
                &.carousel__next-button{
                    right: 0;
                }
                &:disabled {
                    opacity: 0.5;
                }
                svg {
                    width: 25px;
                    height: 25px;
                    background: var(--color-scheme-black);
                    border-radius: 50%;
                    padding: 0.1rem;
                    path {
                        &:first-child{
                            fill: var(--color-scheme-black);
                        }
                        fill: var(--color-scheme-white);
                    }
                }
            }
        .carousel__slider {
            width: 90%;
            margin: auto;
            height: inherit;
            .carousel__slider-tray-wrapper {
                height: inherit;
                .carousel__slider-tray {
                    height: inherit;
                    .carousel__slide{
                        height: inherit;
                        padding-bottom: 0;
                        .carousel__inner-slide {
                            height: inherit;
                            .slide {
                                height: inherit;
                                border: 1px solid #cccc;
                                color: #000;
                                text-align: center;
                                border-radius: .5rem;
                                margin: 0 0.25rem;
                                display: grid;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }

.show > .btn-outline-success.dropdown-toggle:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn.btn-outline-success:active,
.btn.btn-outline-success:focus,
.btn.btn-outline-success.focus {
    box-shadow: none;
    
}
.dropdown {
    .button {
        border-radius: 0;
        &.--label{
            width: 100px;
        }
        &.--arrow{
            width: 30px;
        }
    }
}
.custom-legends {
        display: flex;
        justify-content: flex-end;
        .legend-wrapper {
            display: flex;
            margin:0.5rem;
            
        .legend {
            margin-right: .5rem;
            border-radius: 50%;
            width: 20px;
            height: 20px;
        }
    }
    .text{ 
        &.--selected {
             text-decoration: line-through;
        }
    }
}